# Node.js
node_modules/
.env

# Playwright
test-results/
.playwright/
playwright-report/
test-results/

# Misc
.donotpush/
*.sh
.chatmodes

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
